<h1> Create a New User </h1>

<%= form_for(User.new) do |f| %>
  Username: <%=f.text_field :username, placeholder: "your username here" %><br />
  E-mail: <%=f.text_field :email, placeholder: "example@123.com"  %><br />
  Password: <%=f.password_field :password %><br />
  <%= f.submit %>
<% end %>
